 html {
  background: url(img/img_03.jpg) 100% no-repeat;
  margin: auto;
  }

.relative {
  position: relative;
}

.inline {
  display: inline-block;

}

.center {
  width: 440px;
  height: 400px;
  margin: 100px auto;
  text-align: center;
}

.block {
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 8px;
  height: 470px;
  padding: 10px;
  margin: 15px auto;
}

.title {
  color: white;
  font-weight: bold;
  font-size: 30px;
  padding: 20px;
  font-family: sans-serif;
  text-align: center;
  margin: auto auto 20px 0px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

.login {
  color: white;
  font-weight: bold;
  font-size: 30px;
  padding: 20px 0px 0px 0px;
  font-family: sans-serif;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

.swift {
  color: white;
  font-weight: bold;
  font-size: 12px;
  padding: 10px 0 10px;
  font-family: sans-serif;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

table tr td {
  border-radius: 6px;
  text-align: center;
}

td {
  width: 170px;
  height: 30px;
  padding: 5px;
  margin: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

table {
  margin: auto;
  border-spacing: 4px;
}

p {
  font: bold 28px sans-serif;
  color: white;
  background-color: green;
  width: 80%;
  text-align: center;
  padding: 15px;
  margin: 20px auto auto auto;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

p:hover {
  background-color: #01a901;
}

p:active {
background-color: #006800;
}

.facebook {
  color: white;
  font: bold 14px arial;
  background-color: #4267b2;
  padding: 10px 25px;
  border: 1px solid black;
  border-radius: 3px;
  width: 140px;
  margin-bottom: 5px;
}

.twitter {
  color: white;
  font: bold 14px arial;
  background-color: #1CA7ED;
  padding: 10px 25px;
  border: 1px solid black;
  border-radius: 3px;
  width: 140px;
  margin-bottom: 5px;
}

.google {
  color: black;
  font: bold 14px arial;
  background-color: #ffffff;
  padding: 10px 25px;
  border: 1px solid black;
  border-radius: 3px;
  width: 140px;
  margin-bottom: 5px;
}


.vk {
  color: white;
  font: bold 14px arial;
  background-color: #45668E;
  text-align: center;
  padding: 10px 25px;
  border: 1px solid black;
  border-radius: 3px;
  width: 140px;
  margin-bottom: 5px;
}

.ok {
  color: white;
  font: bold 14px arial;
  background-color: #f58220;
  padding: 10px 25px;
  border: 1px solid black;
  border-radius: 3px;
  width: 140px;
  margin-bottom: 5px;
}

.insta {
  color: white;
  font: bold 14px arial;
  background-color: #336699;
  padding: 10px 25px;
  border: 1px solid black;
  border-radius: 3px;
  width: 140px;
  margin-bottom: 5px;
}

img {
  vertical-align: -4px;
  height: 20px;
  padding-right: 4px;
}

input {
  background-color: rgba(255, 255, 255, 0.5);
  height: 30px;
  color: white;
  border: 0px;
  font:bold 18px arial;
  width: 100%;
  border: 1px solid black;
  margin: 10px auto;
  padding-left: 65px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

#pass input {
  padding-left: 85px;
}

input[type="submit"] {
  display: none;
}

#email::before {
  content: "e-mail: ";
  position: absolute;
  top:16px;
  left:10px;
  color: white;
  font:18px Arial bold;
}

#pass::before {
  content: "password: ";
  position: absolute;
  top:16px;
  left:10px;
  color: white;
  font:18px Arial bold;
}

.focus:hover {
  transform: scale(1.025,1.025);
}

.focus:active {
  transform: scale(0.95,0.95);
}
